/* https://colorhunt.co/palette/512d6df8485eeeeeee00c1d4 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    overflow: hidden;
}

body {
    color: #EEEEEE;
    overflow: hidden;
}

h1 {
    font-size: 2rem;
    font-family: 'Bebas Neue', cursive;
    color: #F8485E;
    letter-spacing: 2px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #512D6D
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #00C1D4;
    text-decoration: none;
}

#search {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.search-bar {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
}

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 30%;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #F8485E
}

.burger-nav {
    display: none;
    cursor: pointer;
}

.burger-nav div {
    width: 25px;
    height: 3px;
    background-color: #00C1D4;
    margin: 5px;
    transition: all 0.3s ease;
}

/* Mobile */
@media screen and (max-width: 768px) {
    .nav-links {
        opacity: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #512D6D;
        width: 50%;
        z-index: 1;
    }

    .burger-nav {
        display: block;
        z-index: 2;
    }
}

.nav-active {
    opacity: 100;
    transition: opacity 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}