/* https://colorhunt.co/palette/512d6df8485eeeeeee00c1d4 */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #EEEEEE;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: #F8485E;
    letter-spacing: 2px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #512D6D
}

a {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 800;
    color: #00C1D4;
    text-decoration: none;
}

#search {
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
}

#slider {
    overflow: hidden;
}

#slider figure {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

#slider figure img {
    width: 20%;
    float: left;
}

@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -400%;
    }
}

.search-bar {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #F8485E
}